div {
	margin: 0;
	padding: 0;
}

#cycle_version {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2);
}

.zefir-select-container {
	margin: 0;
	padding: 0;
	color: rgba(0,0,0,0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	font-feature-settings: 'tnum';
	position: relative;
	display: inline-block;
	outline: 0;
	width: 200px;
}

.zefir-select-container_focused .zefir-select-search {
	display: block !important;
}

.zefir-select-container_opened .zefir-select-selected-value {
	opacity: 0.4 !important;
}

.zefir-select {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-top-width: 1.02px;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 32px;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	outline: none;
	user-select: none;
}

.zefir-select-container_focused .zefir-select {
	border-color: #40a9ff;
	border-right-width: 1px !important;
	box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
	outline: 0;
}

.zefir-select-inner {
	display: block;
	position: relative;
	margin-right: 11px;
	margin-left: 11px;
	line-height: 30px;
}


.zefir-select-selected-value {
	float: left;
	max-width: 100%;
	overflow: hidden;
	opacity: 1;
	padding-right: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.zefir-select-search {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
}

.zefir-select-inner::after {
	content: '.';
	display: inline-block;
	pointer-events: none;
	visibility: hidden;
	width: 0;
}

.zefir-select-search-inner {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

.zefir-select-search .zefir-select-search-input {
	background: transparent;
	border-width: 0;
	border-radius: 4px;
	font-size: 100%;
	line-height: 1;
	outline: 0;
	height: 100%;
	width: 100%;
}

.zefir-select-search-mirror {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	white-space: pre;
}

.zefir-select-arrow-icon {
	display: block;
}

.ant-select-arrow > * {
	line-height: 1;
}

.zefir-select-arrow {
	user-select: none;
	display: inline-block;
	font-style: normal;
	text-align: center;
	text-transform: none;
	vertical-align: -0.125em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	right: 11px;
	margin-top: -6px;
	color: rgba(0,0,0,0.25);
	font-size: 12px;
	line-height: 1;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.zefiricon {
	display: inline-block;
	color: inherit;
	font-style: normal;
	line-height: 0;
	text-align: center;
	text-transform: none;
	vertical-align: -0.125em;
	user-select: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.zefir-select-arrow .zefir-select-arrow-icon svg {
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
}

.zefir-popup {
	background: #6000AA;
}

.zefir-container {
	display: flex;
	font: 700 18px "Open Sans", Arial, sans-serif;
	flex-direction: column;
	padding: 5px;	
	width: 200px;
}

.zefir-item {
	border: 0;
	font: inherit;
}

.zefir-input {
	background: #8300E9;
	color: #fff;
	padding: 10px 15px;
}

.zefir-input::placeholder {
	color: #ffffff6b;
}

.zefir-btn {
	background: #19ffc0;
	color: rgba(0,0,0,.5);
	cursor: pointer;
	display: block;
	margin-top: 10px;
	outline: none;
	padding: 10px 12px;
}

.zefir-btn:hover {
	background: #f2bf2f;
	color: #fff;
}

.zefir-btn:active {
	background: #cea225;
}

.zefirSuccess {
	animation: successHighlight 750ms ease-out 0s 1 reverse;
}

.zefirFailure {
	animation: failureHighlight 750ms ease-out 0s 1 reverse;
}

@keyframes successHighlight {
  100% {
		background-color:green;
	}
}

@keyframes failureHighlight {
  100% {
		background-color:red;
	}
}