doctype
html(lang="en-US")
  head
    title Popup
    link(rel="stylesheet" href="styles.css")
  body.zefir-popup
    .zefir-container
      input(
        id="zefirString"
        class="zefir-input zefir-item"
        type="text"
        placeholder="..."
      )
      button#zefirButton.zefir-btn.zefir-item GOOD LUCK!

    script(src="extension.js")
