doctype
html(lang="en-US")
  head
    link(rel="stylesheet" href="styles.css")
    style.
      *,
      *::before,
      *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
  body

  select#cycle_version
    option(value="0") Geenie Mega Reels
    option(value="1") Joker Goes Wild
    option(value="2") Robinhood Mega Stacks
    option(value="3") Queen of the Pharaohs
    option(value="4") Double Chilli
    option(value="5") Blood Sport
    option(value="6") Karate Kid
    option(value="7") Wild Shot
    option(value="8") Gold Shot
    option(value="9") Mystical India
    option(value="10") Olympic Cash
    option(value="11") Polka Reel
    option(value="12") Rambo