doctype
html(lang="en-US")
  head
    link(rel="stylesheet" href="styles.css")
    style.
      *,
      *::before,
      *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
  body